src/main/mule/cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="74258bc3-7adc-4fd9-ba81-966a829054a6" basePath="/time" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="94ed0602-1819-4626-b5f5-0e3eb551d3c0" basePath="/api/Time/current" >
		<http:request-connection host="timeapi.io" />
	</http:request-config>
	<flow name="cicd-demoFlow" doc:id="d3fd73d4-ade5-4069-952b-b3969fc021cd" >
		<http:listener doc:name="Listener" doc:id="91d131e0-bb49-4612-97c8-4adff25984dc" config-ref="HTTP_Listener_config" path="/zone"/>
		<http:request method="GET" doc:name="Request" doc:id="623cc7b9-8ecf-4971-a728-9cc681117a40" config-ref="HTTP_Request_configuration" path="/zone">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"timeZone" : attributes.queryParams.timeZone
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
